html {
    background-color: cyan;
}

div.includes {
    background-color: green;
    margin: 10px;
    padding: 10px;
}

div.content {
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
}