{% extends 'parking/parking-base.html' %}
<comment>страница для добавления данных об автомобиле</comment>
{% block title %} car writer {% endblock %}

{% block content_parking %}
<h2>Занесите данные о Вашем автомобиле</h2>
<div class="parking">
    <form method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
        </div>
        <div>
            <button type="submit">внести данные об автомобиле</button>
        </div>
        <div>
            <button type="reset">очистить форму</button>
        </div>
    </form>
</div>
{% endblock %}